---
import type { Collection } from '@/components/products/types'
import HeroProduct from './HeroProduct.astro'
export interface Props {
  items: Array<Collection>
}

const { items = [] } = Astro.props
---

<div class='carousel h-120 mx-10 rounded-xl my-5 container'>
  {
    items.map((item, n) => (
      <div id={`item${n + 1}`} class='carousel-item container'>
        <HeroProduct
          title={item.name}
          subtitle={item.details}
          a_href={item.href}
          image={item.image}
        />
      </div>
    ))
  } 
  <!-- <div id='item2' class='carousel-item w-full'>
    <img
      src='/images/stock/photo-1609621838510-5ad474b7d25d.jpg'
      class='w-full'
    /> 
  </div> -->
</div>

<div class='flex justify-center w-full py-2 gap-2'>
  {
    items.map((_, n) => (
      <a href={`#item${n + 1}`} class='btn btn-xs'>
        {n + 1}
      </a>
    ))
  }
</div>
