<!-- ---

import '@splidejs/splide/css';

import type { Collection } from '@/components/products/types'
import HeroProduct from './HeroProduct.astro'
import { Image } from 'astro:assets'
import { map } from 'nanostores'


export interface Props {
  items: Array<Collection>
}

import Splide from '@/utils/splide.esm.js'


const { items = [] } = Astro.props
---

<section id='main-carousel' class='splide' aria-label='My Awesome Gallery'>
  <div class='splide__track'>
    <ul class='splide__list'>
      {
        items.map((item) => (
          <li class='splide__slide'>
            <Image src={item.image} alt={item.name} height='100' width='100' />
          </li>
        ))
      }
    </ul>
  </div>
</section>

<ul id='thumbnails' class='thumbnails'>
  {
    items.map((item) => (
      <li class='thumbnail'>
        <Image src={item.image} alt={item.name} height='100' width='100' />
      </li>
    ))
  }
</ul>

<style>
  .thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}


.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
}


.thumbnail img {
  width: 100%;
  height: auto;
}
</style>

<script>
var splide = new Splide( '#main-carousel', {
  pagination: false,
} );


var thumbnails = document.getElementsByClassName( 'thumbnail' ) as HTMLCollectionOf<HTMLElement>;
var current: HTMLElement;


for ( var i = 0; i < thumbnails.length; i++ ) {
  initThumbnail( thumbnails[ i ], i );
}


function initThumbnail( thumbnail: HTMLElement, index:number ) {
  thumbnail.addEventListener( 'click', function () {
    splide.go( index );
  } );
}


splide.on( 'mounted move', function () {
  var thumbnail = thumbnails[ splide.index ];


  if ( thumbnail ) {
    if ( current ) {
      current.classList.remove( 'is-active' );
    }


    thumbnail.classList.add( 'is-active' );
    current = thumbnail;
  }
} );


splide.mount();
</script> -->