---
import '@splidejs/splide/css/skyblue'

import type { Collection } from './types'
import HeroProduct from './HeroProduct.astro'

export interface Props {
  items: Collection[]
}

const { items } = Astro.props
---

<section class='splide mt-5'>
  <div class='splide__track'>
    <ul class='splide__list'>
      {
        items.map((item) => (
          <li class='splide__slide'>
            <HeroProduct
              title={item.name}
              subtitle={item.details}
              a_href={item.href}
              image={item.image}
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>

<script>
  import Splide from '@splidejs/splide'

  var secondarySlider = new Splide('.splide', {
    type: 'loop',
    pagination: true,
    arrows: true,
    cover: true,
    autoplay: true,
    pauseOnHover: true,
    rewind: true,
    speed: 400,
    padding: '5%',
    lazyLoad: 'nearby',
    gap: '5rem',
  }).mount()
</script>
