---
import Products, { type Product } from './ProductListing2D.astro'

const default_products: Product[] = [
  {
    image:
      'https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg',
    alt_text:
      'Tall slender porcelain bottle with natural clay textured body and cork stopper.',
    name: 'Earthen Bottle',
    price: 48,
  },
  {
    image:
      'https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-02.jpg',
    alt_text:
      'Olive drab green insulated bottle with flared screw lid and flat top.',
    name: 'Nomad Tumbler',
    price: 35,
  },
  {
    name: 'Focus Paper refill',
    price: 89,
    image:
      'https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-03.jpg',
    alt_text:
      'Person using a pen to cross a task off a productivity paper card.',
  },
  {
    name: 'Machined Mechanical Pencil',
    price: 35,
    image:
      'https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-04.jpg',
    alt_text:
      'Hand holding black machined steel mechanical pencil with brass tip and top.',
  },
]
---

<div class='container justify-center items-center'>
  <h2>Featured Products</h2>
  <nav>
    <ul>
      <li>
        <a>All</a>
      </li>
      <li>
        <a>Funritures</a>
      </li>
      <li>
        <a>Instruments</a>
      </li>
      <li>
        <a>Decor</a>
      </li>
    </ul>
  </nav>
  <div><Products products={default_products} /></div>
</div>
