---
const pages = ['1', '2', '3', , '...', '8', '9', '10']
const currentPage = '1'
---

<div class='max-w-screen-xl mx-auto mt-12 px-4 text-gray-600 md:px-8'>
  <div class='hidden justify-between text-sm md:flex'>
    <div>SHOWING 1-10 OF 120</div>
    <div class='flex items-center gap-12' aria-label='Pagination'>
      <a href='javascript:void(0)' class='hover:text-indigo-600'> Previous</a>
      <ul class='flex items-center gap-1'>
        {
          pages.map((item, idx) => (
            <li>
              {item == '...' ? (
                <div>{item}</div>
              ) : (
                <a
                  href='javascript:void(0)'
                  aria-current={currentPage == item ? 'page' : false}
                  class:list={[
                    'px-3 py-2 rounded-lg duration-150 hover:text-white hover:bg-indigo-600',
                    {
                      'bg-indigo-600 text-white font-medium':
                        currentPage == item,
                    },
                  ]}
                >
                  {item}
                </a>
              )}
            </li>
          ))
        }
      </ul>
      <a href='javascript:void(0)' class='hover:text-indigo-600'> Next</a>
    </div>
  </div>
  {/* On mobile version */}
  <div
    class='flex items-center justify-between text-sm text-gray-600 font-medium md:hidden'
  >
    <a
      href='javascript:void(0)'
      class='px-4 py-2 border rounded-lg duration-150 hover:bg-gray-50'
      >Previous</a
    >
    <div class='font-medium'>SHOWING 1-10 OF 120</div>
    <a
      href='javascript:void(0)'
      class='px-4 py-2 border rounded-lg duration-150 hover:bg-gray-50'>Next</a
    >
  </div>
</div>
