<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='title' content='Premier Enterprises' />
    <meta
      name='description'
      content='Buy fine quality furniture only at Premier Enterprises'
    />
    <meta
      name='keywords'
      content='wood,furniture,machine,online,shop,ecommerce,germany,google,premier,entp,enterprise,selling,buy furniture,home,machines'
    />
    <meta name='robots' content='index, follow' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='language' content='English' />
    <meta name='revisit-after' content='1 days' />
    <meta name='author' content='premier' />

    <title>Premier Enterprise</title>
  </head>
  <body class="font-lato">
    <slot />
  </body>
</html>

